**/.ipynb_checkpoints
**/.vscode
**/.postgresql

**/bin
**/Scripts

**/etc
**/Include
**/include

**/Lib
**/lib
**/lib64
**/share
**/tmp

**/pyvenv.cfg

**/.DS_store

**/*.pyc

**/__pycache__

**/data/archive
**/data/*.csv
