**/.ipynb_checkpoints
**/.vscode
**/.postgresql

**/bin
**/Scripts

**/etc
**/Include
**/include

**/Lib
**/lib
**/lib64
**/share
**/tmp

# ignore the virtual directory
**/vpython3.10

**/pyvenv.cfg

**/.DS_store

**/*.pyc

**/__pycache__

**/data/archive
**/data/*.csv

**/docs/build

**/backup.sql

**/.env

**/unload_tables.sql
